html{
    background-color: rgb(255, 255, 255);
}

body {
    margin: 0;
    font-family: 'Times New Roman' , sans-serif;
   

}

#section-1 {
    background-color: rgb(255, 255, 255);
    height:110px;
 
    font-size: 25px;
    margin-top: 148px;
    text-align: center;
   
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header {
 padding: 5px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 10px 16px;

}

nav ul li a {

    text-decoration: none;
    color: rgb(0, 0, 0);

}

nav ul li.active {
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
}

h1 {
    /* margin-top: 0px;
    margin-bottom: 10px; 
     padding-top: 100px;  */
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
} 

h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    /* margin-top: 60px;  */
} 


.main-heading {
    margin-top: 85px;
    text-align: center;
}



.main-heading a {
    text-decoration: none;
    background-color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    border-radius:30px;
    padding: 14px 25px;
    color: white;
}



.gallery{
    /* display: grid; */
    grid-template-columns: repeat(2);
    gap: 10px;
    grid-template-rows: repeat(2);
   
}

.gallery img{
    width: 825px;
    height: 825px;
}


h2{
    padding-left: 40px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
   
} 

.gallery-1{
    display: flex;
    gap: 25px;
    
    
}

.photos{
    width: 260px;
    height: 320px;
    object-fit: cover;
    /* border-radius:10px; */
  margin-left:25px;
  margin-right:25px;
}

#figure_1 img{ 
    transform:scale(1);
    transition: .3s ease-in-out;

}

#figure_1 img:hover{
    transform:scale(1.3);
}



.container4{
    display: flex;
    gap: 25px;
}

.container4 div{

    object-fit: cover;
   
  margin-left:40px;
 margin-right:40px; 
}

.container4 div h2{
    font-size: 45px;
    
    /* margin-left:40px;
   margin-right:40px;  */
   padding-left: 60px;
   padding-right: 50px;
  }

  .container4 div p {
    font-size: 23px;
 padding-left: 60px;
 padding-right: 50px;
  
  }






  #section-3 {
    background-color: #e2e2e2;
    min-height: 850px;
    color: rgb(0, 0, 0);
    
}

/* #service-3{
background-color: hsl(225, 60%, 52%);
min-height: 860px;
color: white;
} */

#contact-form{
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}


.form-row{
    display: flex;
}

input[type="text"], input[type="email"]{
    width: 46%;
    height: 56px;
}

input[type="text"], input[type="email"], textarea{

    color: white;
    background-color: #273a71;
    border: none;
    font-size: 18px;
    margin: 16px;
    border-radius: 5px;
    padding-left: 28px;
}


textarea{
    height: 200px;
    width: 100%;
    padding-top: 26px;
}

input[type="submit"]{

    background-color: #30bae7;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 60px;
}


.big-button{
    padding: 26px 85px;
    color: white;
}

footer{
    background-color: #344b8e;

}

.footer-links{

    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
}

footer ul{
    margin: 0;
    padding-top: 25px;
    display: flex;
    padding-bottom: 25px;
}

.footer-links ul li{
    display: inline-block;
    padding: 10px 20px 10px 20px;
}

.footer-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;

}

header img{
    width: 117px;
    height: 37px;
}




.new-colums{

    display: flex;
    gap: 50px;
    flex: 1;
    padding-left: 40px;
}

.new-colums h3{
    margin-bottom: 10px;
    font-size: 16px;
   color: #000000;

}

.new-colums ul{

    list-style: none;
    padding: 0;
}

.new-colums li {

    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}