html{

    background-color: #cccccc;
}
body {
    margin: 0;
    font-family: 'Times New Roman' , sans-serif;
   

}

#section-1 {
    background-color: #868686;
    height: 80px;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

header {
    padding: 10px;
    display:flex;
    justify-content: space-around;
     text-align: center; 
}

nav ul li {
    display: inline-block;
    padding:10px 10px;
   
}

nav ul li a {

    text-decoration: none;
    color: rgb(0, 0, 0);

}

nav ul li.active {
    background-color: #cccccc;
    border-radius: 20px;
}