article  p{
    background: rgb(27, 71, 64);
    color: rgb(253, 255, 254);
    padding: 20px;
}


article > p{
    background: rgb(27, 53, 71);
    color: rgb(253, 255, 254);
    padding: 20px;
}

article ~ p{
    background: rgb(63, 27, 71);
    color: rgb(253, 255, 254);
    padding: 20px;
}

article + p{
    background: rgb(71, 27, 27);
    color: rgb(253, 255, 254);
    padding: 20px;
}

h3 :first-child{
    background-color:#85dae2 ;
    color: black;
   
}